.vscode/**
.vscode-test/**
out/**
**/node_modules/**
src/**
webview-ui/**
scripts/**
sprites-export/**
logs/**
.github/**
.claude/**
.env
.gitignore
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CLAUDE.md
**/*.jsonl
